[defaults]
inventory = inventory.gcp.yml
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="gcloud compute start-iap-tunnel %h %p --listen-on-stdin --zone=<VOTRE_ZONE_GCP> --project=<VOTRE_GCP_PROJECT_ID> --quiet 2>/dev/null"