[defaults]
inventory = inventory.gcp.yml
host_key_checking = False
private_key_file = ./id_ssh
interpreter_python = auto_silent

[inventory]
enable_plugins = google.cloud.gcp_compute, auto

[ssh_connection]
ssh_args = -o IdentityFile=./id_ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="gcloud compute start-iap-tunnel %h %p --listen-on-stdin --zone=europe-west9-a --project=lamp-3tier-production --quiet 2>/dev/null"