[defaults]
interpreter_python = auto_silent
inventory = inventory.gcp.yml
host_key_checking = False
remote_user = vladimir_evdokimov_s3ns_io
private_key_file = ~/.ssh/google_compute_engine

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="gcloud compute start-iap-tunnel %h %p --listen-on-stdin --zone=europe-west9-a --project=lamp-3tier-production --quiet 2>/dev/null"